.entrybox {
    display: flex;
    margin: 2% 0;
    
}

.circle {
    margin-top: auto;
    margin-bottom: auto;
}

.entrybox input {
    border: none;
    width: 50px;
    font-size: 20px;
    margin-right: 10%;
}

.entrybox h5 {
    cursor: pointer;
    margin: 0;
    padding-left: 5%;
}

.entrybox h5:hover {
    opacity: 0.8;
}

.details-container {
    width: 200px;
    position: absolute;
    padding: 1%;
    background-color: #89CFF0;
    opacity: 0.9;
}

.__react_component_tooltip {
    width: 200px;
}