.revenue-expense-container {
    margin: 0 5%;
}

.entryboxes-title-container {
    display: flex;
}

.next-button {
    padding: 0.5% 1%;
    margin: 3%;
    margin-left: 0;
    background-color: #fff;
    border: 1px solid #022851;
    color: #022851;
    font-size: 1.5vh;
    transition: 1s;
    cursor: pointer;
}

.next-button:hover {
    background-color: #FFBF00;
}

.ucd-piechart-container, .user-piechart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .revenue-expense-content {
        display: flex;
    }
}