.splash-container {
    width: 100vw;
    height: 100vh;
    color: #022851;
}

.splash-content {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}



button {
    padding: 0.5% 1%;
    margin: 1%;
    margin-left: 0;
    background-color: #fff;
    border: 1px solid #022851;
    color: #022851;
    font-size: 2vh;
    transition: 1s;
    cursor: pointer;
}

button:hover {
    background-color: #FFBF00;
}
