.splash-container {
    width: 100vw;
    color: #022851;
}

.splash-container h1 {
    font-size: 3em;
    font-weight: 400;
}

.splash-container h3 {
    font-size: 2em;
    color: #FFBF00;
    font-weight: 400;
}

.splash-content {
    padding: 10%;
}



button {
    padding: 1%;
    margin: 1%;
    margin-left: 0;
    background-color: #fff;
    border: 1px solid #022851;
    color: #022851;
    font-size: 3vh;
    transition: 1s;
    cursor: pointer;
}

button:hover {
    background-color: #FFBF00;
}
